.top-title{
    text-align:center;
}

.product-row {
    margin-top: 8px;
    margin-bottom: 8px;
}

.product {
    background: #fff;
    border: 0.5px solid #808080;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
}

.product-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.product-title a {
	color: #000;
	text-transform: uppercase;
}

.btn {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 24px;
    width: 80%;
}

.pozition-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}